.flex-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: start;
  background-color: white;
  color: black;
}

.sign-up-container {
  margin: auto auto;
  width: 500px;
  padding: 10px;
}

.sign-up-title {
  margin: 10px;
  margin-top: 0;
  color: #594A37;
  opacity: 0.66;
}

.first-name, .last-name, .email, .password, .confirm-password {
  font-size: 15px;
  height: 35px;
  margin: 10px 0;
  padding: 0 10px;
  letter-spacing: 1px;
  background-color: white;
  color: inherit;
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 8px;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin: 30px 0;
}

label {
  font-weight: bold;
}

.sign-up-button {
  color: rgba(0,0,0,0.4);
  transition: .3s ease-in-out;
}

.sign-up-button:hover {
  color: rgba(0,0,0,0.6);
}

.sign-up-img {
  height: 100%;
  width: 40%;
  background-image: url('https://images.unsplash.com/photo-1658752292290-48f675c977d5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=465&q=80');
  background-size: cover;
}
