.welcome-page {
  color: #ffffff;
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/homepage1.png');
  background-size: cover;
}
.welcome-image {
  border: 8px solid rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  object-fit: cover;
}
#image-1 {
  position: absolute;
  width:205px;
  height:250px;
  top: 120px;
  left:0;
}
#image-2 {
  position: absolute;
  width:219px;
  height:323px;
  top: 50px;
  right: 94px;
}
#image-3 {
  position: absolute;
  width:177px;
  height:240px;
  bottom: 61px;
  right: 233px;
}
#image-4 {
  position: absolute;
  width:151px;
  height:145px;
  top: 390px;
  right: 16px;
}
