.welcome-page {
  color: #ffffff;
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/homepage1.png');
  background-size: cover;
}
.welcome-image {
  border: 8px solid rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  object-fit: cover;
}
